:root {
  --font-color: rgba(0, 0, 0, 0.9);
  --links-color: rgba(70, 70, 70, 0.82);
  --border-footer-color: #cacaca;
}
:root {
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.top-nav__ul {
  display: flex;
  padding: 0;
  gap: 1em;
  margin-right: 1em;
}
.nav__link__round-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--links-color);
}
.nav__link:hover {
  text-decoration: underline;
}
img {
  display: block;
}
.search-buttons {
  margin: 20px;
}
button {
  border: none;
  padding: 8px;
  margin: 10px;
}
button:hover {
  border: 1px solid rgba(163, 163, 163, 0.5);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.logo-flex__img {
  max-width: 100%;
  min-height: auto;
}

.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 30%;
  height: 50px;
  margin-top: 1rem;
}

.form-flex__input {
  padding: auto;
  margin: 0;
  width: 100%;
}

.footer-nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  border: 1px solid var(--border-footer-color);
}
.footer-nav__nav {
  display: flex;
}
.footer-nav__right,
.footer-nav__left {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}
